@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Hakkında";
}

<div class="hakkinda-container">
    <h1>Hakkımızda</h1>
    <p>
        Film Arşiv Sitesi, sinema tutkunlarının film dünyasını keşfetmesini kolaylaştıran, kullanıcı odaklı bir film veritabanı platformudur. IMDb tarzında tasarlanan sitemiz, geniş film arşiviyle kullanıcılara film puanlama, yorum yapma, favori listeleri oluşturma ve film detaylarına ulaşma imkânı sunar.
        Amacımız, hem izlediğiniz hem de izlemek istediğiniz filmleri tek bir yerde toplamanızı sağlamak ve sinemaya dair kişisel bir arşiv oluşturmanıza yardımcı olmaktır. Kullanıcılarımız; oyuncu kadrosu, yönetmen, tür, vizyon tarihi gibi birçok detay üzerinden arama yapabilir, topluluk tarafından verilen puanları inceleyebilir ve kendi değerlendirmelerini paylaşabilir.

    </p>
    <p>
        Misyonumuz, her yaştan kullanıcıya hitap eden içerikleri güvenli ve erişilebilir bir şekilde ulaştırmaktır.
        Görüş ve önerileriniz bizim için çok değerli!
    </p>
</div>
